global
    daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

# Simple stats page
listen stats
    bind *:8404
    stats enable
    stats uri /stats

# Simple HTTP load balancer for ThingsBoard
listen thingsboard
    bind *:8081
    balance roundrobin
    
    # ThingsBoard servers via localhost (assuming they expose different ports)
    server tb1 tb-node-1:9090 check
    server tb2 tb-node-2:9090 check  
    server tb3 tb-node-3:9090 check
